:root {
    --amarelo-principal: #e8b033;
    --roxo-principal: #601293;
    --branco: #ffffff;
}

html {
    scroll-behavior: smooth;
    scroll-snap-stop: always;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


body {
    background-color: var(--amarelo-principal);
    font-family: sans-serif;
    box-sizing: border-box;
}

.box-topo {
    text-align: right;
}

.img-topo {
    width: 100%;
}

/*SOBRE NÓS*/

.sobrenos {
    display: grid;
    grid-template-columns: 50% 50%;
    max-width: 1920x;
    margin: 5% auto 15% auto;
}

.titulo-sobrenos {
    padding: 25%;

}

.quadrados-roxo {
    width: 8vw;
    margin-bottom: 50px;
}

.titulo-sobrenos h1 {
    color: var(--branco);
    font-size: 3vw;
    font-weight: bold;
}

.destaque {
    font-weight: bold;
    color: #cb007a;
}

.baloom {
    position: absolute;
    right: 0;
    width: 60%;
}

.conteudo-baloom {
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
}

.icon-baloom {
    position: absolute;
    width: 10%;
    top: 15%;
    right: 4vw;
    padding: 1rem;
}

.texto-sobrenos {
    width: 80%;
    padding: 15vw 2vh;
    margin: auto;
    color: #546e8e;
    font-size: 1.7vw;
    text-align: justify;
    line-height: 2vw;
}

/*ATUAÇÃO*/

#pg3 {
    max-width: 1920px;
    margin: 0 auto;
}

.titulo-atuacao {
    justify-content: center;
    display: flex;
    gap: 50px;
    padding: 0.5rem;
}

.titulo-atuacao h2 {
    color: var(--branco);
    font-size: 3vw;
    font-weight: bold;
}

.line {
    justify-content: center;
    padding: 2px 0;
    border-radius: 30px;
    background-color: var(--roxo-principal);
    margin: 50px auto;
    width: 80%;
}

.container-atuacao {
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.lista-servicos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    margin-bottom: 1rem;
}


.card-atuacao {
    display: flex;
    border: solid 3px var(--roxo-principal);
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    min-width: 200px;
    max-width: 200px;
    min-height: 150px;
    background-color: var(--branco);
    margin: 0.5rem;
    padding: 1.5rem;
}

.card-atuacao h2 {
    font-size: 18px;
    font-weight: bold;
    color: var(--roxo-principal);
}

.btn-saiba-mais {
    margin-top: 0.5rem;
    padding: 0.5rem;
    color: var(--roxo-principal);
    cursor: pointer;
    background-color: var(--branco);
    border: solid 1px var(--roxo-principal);
    border-radius: 100px;
    font-weight: bold;
    font-size: 13px;

}

.fechar {
    display: none;
}

.btn-saiba-mais:hover {
    background-color: var(--roxo-principal);
    color: var(--branco);
}

.descricao-atuacao {
    display: none;
    color: var(--roxo-principal);
    font-size: 0vw;
}

.icon-atuacao {
    width: 55px;
}

/* CLASSE ACTIVE*/

.active {
    max-width: 350px;
    width: 350px;
    height: 370px;
}

.active .descricao-atuacao {
    display: block;
    font-size: 15px;
    text-align: left;
    padding: 1rem 0 1rem 1rem;
}

.active .fechar {
    display: block;
}

.active .saiba-mais {
    display: none;
}

.active .btn-saiba-mais {
    margin-top: 0;
}

.atuacao {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 2rem;
}


/*LGPD*/

#pg4 {
    margin-bottom: 5rem;
}

.lgpd {
    display: flex;
    max-width: 1920px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    gap: 100px;
    padding: 150px;

}

.textos-lgpd {
    width: 600px;
}

.texto-lgpd-principal {
    font-size: 25px;
    color: #ffffff;
    text-align: justify;
    margin-bottom: 2rem;
}

.texto-lgpd-complementar {
    font-size: 20px;
    color: var(--roxo-principal);
    font-weight: bold;
    text-align: justify;
}

.imgs-lgpd {
    display: block;
    max-width: 300px;
}

.img-lgpd {
    width: 200px
}

/*FINAL*/

.final {

    background-color: var(--branco);
}

.final-conteudo {
    display: flex;
    max-width: 1920px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    gap: 100px;
    padding: 150px;
}

.textos-finais {
    padding: 5rem;
    align-self: center;
}

.globo {
    width: 450px;
    height: auto;
}

.box-converse {
    margin-bottom: 2rem;
    width: 350px;
}

.texto-rosa {
    font-size: 25px;
    font-weight: bold;
    color: #cb007a;
    margin-bottom: 2rem;
}

.btn-whats {
    margin-top: 1rem;
    padding: 1.5rem;
    color: var(--roxo-principal);
    cursor: pointer;
    background-color: var(--roxo-principal);
    border-radius: 30px;
}

.btn-whats a {
    font-size: 1, 5rem;
    color: var(--branco);
}

.btn-whats:hover {
    background-color: var(--roxo-principal);
    background-color: #7a26b2;
}

/*RODAPÉ*/

.rodape {
    max-width: 1920px;
    text-align: center;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    padding: 150px;
    background-color: var(--roxo-principal);
}

.marca-rodape {
    width: 350px;
}

.contatos {
    display: flex;
    gap: 100px;
    justify-content: center;
    margin-bottom: 50px;
}

.icon {
    margin: 0.5rem;
    margin-bottom: 1rem;
    width: 35px;
}

.icon:hover {
    filter: brightness(1.2);
}

.redes-sociais h3 {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: var(--branco);
    letter-spacing: .5rem;
}

.redes-sociais h3:hover {
    color: var(--amarelo-principal);
}

.destaque-amarelo {
    color: var(--amarelo-principal);
}

.endereco p {
    color: var(--branco);
    font-size: 20px;
}

a {
    text-decoration: none;
}

.endereco p:hover {
    color: var(--amarelo-principal);
}


/* RESPONSIVIDADES*/

@media screen and (max-width: 1080px) {

    /* Sobre Nós */

    .sobrenos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
    }

    .titulo-sobrenos {
        display: flex;
        justify-content: center;
        gap: 50px;
        padding: 5%;
    }


    .titulo-sobrenos h1 {
        font-size: 4vw;

    }

    .quadrados-roxo {
        width: 10vw;
    }


    .baloom {
        position: relative;
        display: flex;
        margin: 0 auto;
        width: 70%;
    }

    .conteudo-baloom {
        display: flex;
        flex-direction: column;
        margin: 2% auto;

    }

    .icon-baloom {
        position: absolute;
        width: 10%;
        top: 15%;
        right: 4vw;
        padding: 1rem;
    }

    .texto-sobrenos {
        padding: 18vw 2vh;
    }

    /*ATUAÇÃO*/

    #pg3 {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        max-width: 1080px;
        margin: 0 auto;
    }

    .titulo-atuacao {
        margin-top: 100px;
    }


    .titulo-atuacao h2 {
        font-size: 4vw;
    }

    .lista-servicos {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        list-style: none;
        margin-bottom: 1rem;
    }

    .card-atuacao {
        display: flex;
        min-width: 250px;
        max-width: 250px;
        min-height: 180px;
        background-color: var(--branco);
        padding: 15px;

    }

    .card-atuacao h2 {
        font-size: 18px;
    }

    /* CLASSE ACTIVE*/

    .active {
        max-width: 350px;
        width: 350px;
        height: 350px;
    }

    /*LGPD*/

    .lgpd {
        display: flex;
        flex-direction: column;
        max-width: 1080px;
        padding: 50px;
    }

    .textos-lgpd {
        margin: 0 auto;
        width: 90%;
    }

    .imgs-lgpd {
        display: flex;
        justify-content: center;
        gap: 30px;
    }

    .img-lgpd {
        width: 250px
    }


    /*FINAL*/

    .final-conteudo {
        display: flex;
        margin: 0 auto;
        align-items: center;
        justify-content: center;
        gap: 80px;
        padding: 150px;
    }

    .textos-finais {
        display: flex;
    }

    .globo {
        width: 350px;
        height: auto;
    }

    .box-converse {
        margin-bottom: 2rem;
        width: 250px;
    }

    .texto-rosa {
        font-size: 22px;
        font-weight: bold;
        color: #cb007a;
        margin-bottom: 2rem;
    }

}

/* RESPONSIVIDADES*/

@media screen and (max-width: 920px) {

    /*ATUAÇÃO*/

    #pg3 {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin: 0 auto;
    }

    .titulo-atuacao {
        margin-top: 100px;
    }


    .titulo-atuacao h2 {
        font-size: 4vw;
    }

    .lista-servicos {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        list-style: none;
        margin-bottom: 1rem;
    }

    .card-atuacao {
        display: flex;
        min-width: 250px;
        max-width: 250px;
        min-height: 120px;
        background-color: var(--branco);
        padding: 10px;

    }

    .card-atuacao h2 {
        font-size: 15px;
    }

    .icon-atuacao {
        width: 40px;
    }

    /*LGPD*/

    .lgpd {
        display: flex;
        flex-direction: column;
    }

    .textos-lgpd {
        width: 100%;
    }
}

@media screen and (max-width: 890px) {

    /*ATUAÇÃO*/

    #pg3 {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin: 0 auto;
    }

    .titulo-atuacao {
        margin-top: 100px;
    }


    .titulo-atuacao h2 {
        font-size: 4vw;
    }

    .lista-servicos {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        list-style: none;
        margin-bottom: 1rem;
    }

    .card-atuacao {
        display: flex;
        min-width: 150px;
        max-width: 150px;
        min-height: 150px;
        background-color: var(--branco);
        padding: 10px;

    }

    .card-atuacao h2 {
        font-size: 15px;
    }

    .icon-atuacao {
        width: 40px;
    }


    /* CLASSE ACTIVE*/

    .active {
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 450px;
        width: 450px;
        backdrop-filter: blur(5px);
        border: solid 3px var(--roxo-principal);
        border-radius: 10px;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        padding: 2% 10%;
        background-color: rgba(255, 255, 255, 0.6);
        /* Fundo com transparência */
        backdrop-filter: blur(15px);
        /* Desfoque do fundo */
        z-index: 1020;
    }

    .active h2 {
        font-size: 25px;
        text-align: left;
    }

    .active .descricao-atuacao {
        font-size: 20px;
        text-align: left;
    }

    .active .fechar {
        display: block;
    }

    .active .saiba-mais {
        display: none;
    }

    .active .icon-atuacao {
        margin-bottom: 10px;
    }

}

@media screen and (max-width: 720px) {

    /*FINAL*/
    .final-conteudo {
        flex-direction: column;
        text-align: center;
        padding: 50px;
    }

    .globo {
        display: none;
    }

    .box-converse {
        width: 300px;
    }

    /*RODAPÉ*/

    .rodape {
        text-align: center;
        padding: 90px;
    }

    .marca-rodape {
        width: 300px;
    }

    .contatos {
        display: flex;
        flex-direction: column;
    }

}

@media screen and (max-width: 580px) {
    /*ATUAÇÃO*/

    .titulo-atuacao {
        margin-top: 50px;
    }


    .titulo-atuacao h2 {
        font-size: 4vw;
    }

    .lista-servicos {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        list-style: none;

    }

    .card-atuacao {
        display: flex;
        border: none;
        background-color: rgba(255, 255, 255, 0);
        padding: 1px;
        margin: 0.2rem;

    }

    .card-atuacao h2 {
        font-size: 15px;
    }

    .icon-atuacao {
        width: 40px;
    }

    .btn-saiba-mais {
        margin-top: 0.5rem;
        padding: 0.5rem;
        color: var(--roxo-principal);
        cursor: pointer;
        background-color: rgba(255, 255, 255, 0);
        border: solid 1px var(--roxo-principal);
        border-radius: 100px;
        font-weight: bold;
        font-size: 13px;
    
    }
    
    .fechar {
        display: none;
    }
    
    .btn-saiba-mais:hover {
        background-color: var(--roxo-principal);
        color: var(--branco);
    }


    /* CLASSE ACTIVE*/

    .active {
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 450px;
        width: 450px;
        backdrop-filter: blur(5px);
        border: solid 3px var(--roxo-principal);
        border-radius: 10px;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        padding: 2% 10%;
        background-color: rgba(255, 255, 255, 0.6);
        /* Fundo com transparência */
        backdrop-filter: blur(15px);
        /* Desfoque do fundo */
        z-index: 1020;
    }

    .active h2 {
        font-size: 25px;
        text-align: left;
    }

    .active .descricao-atuacao {
        font-size: 20px;
        text-align: left;
    }

    .active .fechar {
        display: block;
    }

    .active .saiba-mais {
        display: none;
    }

    .active .icon-atuacao {
        margin-bottom: 10px;
    }

}

@media screen and (max-width: 550px) {

    /*FINAL*/
    .final-conteudo {
        flex-direction: column;
        padding: 50px;
    }

    .globo {
        display: none;
    }

    .box-converse {
        width: 300px;
    }

    /*RODAPÉ*/

    .rodape {
        text-align: center;
        padding: 90px 10px;
    }

    .marca-rodape {
        width: 300;
    }

    .contatos {
        display: flex;
        flex-direction: column;
    }

    .endereco p {
        font-size: 16px;
    }

    /*LGPD*/

    #pg4 {
        margin-bottom: 5rem;
    }

    .lgpd {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 100px;
        padding: 50px;

    }

    .textos-lgpd {
        width: 450px;
    }

    .texto-lgpd-principal {
        font-size: 25px;
        color: #ffffff;
        text-align: justify;
        margin-bottom: 2rem;
    }

    .texto-lgpd-complementar {
        font-size: 16px;
        color: var(--roxo-principal);
        font-weight: bold;
        text-align: justify;
    }

    .imgs-lgpd {
        display: flex;
        max-width: 300px;
    }

    .img-lgpd {
        width: 200px
    }

}

@media screen and (max-width: 450px) {

    /*LGPD*/

    #pg4 {
        margin-bottom: 5rem;
    }

    .lgpd {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 100px;
        padding: 50px;

    }

    .textos-lgpd {
        width: 300px;
    }

    .texto-lgpd-principal {
        font-size: 18px;
        color: #ffffff;
        text-align: justify;
        margin-bottom: 2rem;
    }

    .texto-lgpd-complementar {
        font-size: 15px;
        color: var(--roxo-principal);
        font-weight: bold;
        text-align: justify;
    }

    .imgs-lgpd {
        display: flex;
        max-width: 300px;
    }

    .img-lgpd {
        width: 150px
    }

     /* CLASSE ACTIVE*/

     .active {
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 320px;
        width: 320px;
        backdrop-filter: blur(5px);
        border: solid 3px var(--roxo-principal);
        border-radius: 10px;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        padding: 4%;
        background-color: rgba(255, 255, 255, 0.6);
        /* Fundo com transparência */
        backdrop-filter: blur(15px);
        /* Desfoque do fundo */
        z-index: 1020;
    }

    .active h2 {
        font-size: 18px;
        text-align: left;
    }

    .active .descricao-atuacao {
        font-size: 15px;
        text-align: left;
    }

    .active .fechar {
        display: block;
    }

    .active .saiba-mais {
        display: none;
    }

    .active .icon-atuacao {
        margin-bottom: 10px;
    }


}