:root {
    --amarelo-principal: #e8b033;
    --roxo-principal: #601293;
    --branco: #ffffff;
}

html {
    scroll-behavior: smooth;
    scroll-snap-stop: always;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


body {
    background-color: var(--amarelo-principal);
    font-family: sans-serif;
}

.box-topo {
    text-align: right;
}

.img-topo {
    width: 100%;
}

/*SOBRE NÓS*/

.sobrenos {
    display: grid;
    grid-template-columns: 50% 50%;
    max-width: 1920x;
    margin: 5% auto 15% auto;
}

.titulo-sobrenos {
    padding: 25%;

}

.quadrados-roxo {
    width: 8vw;
    margin-bottom: 50px;
}

.titulo-sobrenos h1 {
    color: var(--branco);
    font-size: 3vw;
    font-weight: bold;
}

.destaque {
    font-weight: bold;
    color: #cb007a;
}

.baloom {
    position: absolute;
    right: 0;
    width: 60%;
}

.conteudo-baloom {
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
}

.icon-baloom {
    position: absolute;
    width: 10%;
    top: 15%;
    right: 4vw;
    padding: 1rem;
}

.texto-sobrenos {
    width: 80%;
    padding: 15vw 2vh;
    margin: auto;
    color: #546e8e;
    font-size: 1.7vw;
    text-align: justify;
    line-height: 2vw;
}

/*ATUAÇÃO*/

#pg3 {
    max-width: 1920px;
    margin: 0 auto;
}

.titulo-atuacao {
    justify-content: center;
    display: flex;
    gap: 50px;
    padding: 1rem;
}

.titulo-atuacao h2 {
    color: var(--branco);
    font-size: 3vw;
    font-weight: bold;
}

.line {
    justify-content: center;
    padding: 3px 0;
    border-radius: 30px;
    background-color: var(--roxo-principal);
    margin: 100px auto;
    width: 80%;
}

.container-atuacao {
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.lista-servicos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    margin-bottom: 1rem;
}


.card-atuacao {
    display: flex;
    border: solid 3px var(--roxo-principal);
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    min-width: 200px;
    max-width: 200px;
    min-height: 150px;
    background-color: var(--branco);
    margin: 0.5rem;
    padding: 1.5rem;
}

.card-atuacao h2 {
    font-size: 18px;
    font-weight: bold;
    color: var(--roxo-principal);
}

.btn-saiba-mais {
    margin-top: 0.5rem;
    padding: 0.5rem;
    color: var(--roxo-principal);
    cursor: pointer;
    background-color: var(--branco);
    border: solid 1px var(--roxo-principal);
    border-radius: 100px;
    font-weight: bold;
    font-size: 13px;

}

.fechar {
    display: none;
}

.btn-saiba-mais:hover {
    background-color: var(--roxo-principal);
    color: var(--branco);
}

.descricao-atuacao {
    display: none;
    color: var(--roxo-principal);
    font-size: 0vw;
}

.icon-atuacao{
    width: 55px;
}

/* CLASSE ACTIVE*/

.active {
    max-width: 350px;
    width: 350px;
    height: 370px;
}

.active .descricao-atuacao {
    display: block;
    font-size: 15px;
    text-align: left;
    padding: 1rem 0 1rem 1rem;
}

.active .fechar {
    display: block;
}

.active .saiba-mais {
    display: none;
}

.atuacao {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 2rem;
}

/*LGPD*/

#pg4 {
    margin-bottom: 5rem;
}

.lgpd {
    max-width: 1600px;
    margin: 0 auto;
    display: flex;

    justify-content: space-around;
    align-items: center;
    padding: 150px;
}

.textos-lgpd {
    width: 80%;
    align-self: center;
}

.texto-lgpd-principal {
    font-size: 35px;
    color: #ffffff;
    text-align: justify;
    margin-bottom: 2rem;
}

.texto-lgpd-complementar {
    font-size: 30px;
    color: var(--roxo-principal);
    font-weight: bold;
    text-align: justify;
}

.img-lgpd {
    width: 50%;
}

/*FINAL*/

.final {

    background-color: var(--branco);
}

.final-conteudo {
    max-width: 1920px;
    margin: 1rem auto;
    display: flex;
    gap: 10rem;
    padding: 10rem;
    align-items: center;
    justify-content: space-around;
}

.textos-finais {
    padding: 5rem;
    align-self: center;
}

.globo {
    width: 40%;
    height: 40%;
}

.box-converse {
    margin: 2rem 0;
    width: 90%;
}

.texto-rosa {
    font-size: 50px;
    font-weight: bold;
    color: #cb007a;
    margin-bottom: 2rem;
}

.btn-whats {
    margin-top: 1rem;
    padding: 2rem;
    color: var(--roxo-principal);
    cursor: pointer;
    background-color: var(--roxo-principal);
    border-radius: 100px;
}

.btn-whats a {
    font-size: 30px;
    color: var(--branco);
}

.btn-whats:hover {
    background-color: var(--roxo-principal);
    background-color: #7a26b2;
}

/*RODAPÉ*/

.rodape {
    display: flex;
    justify-content: center;
    flex: 1;
    gap: 5rem;
    background-color: var(--roxo-principal);
    padding: 10rem;
}


.icon {
    margin: 0.5rem;
    margin-bottom: 1rem;
}

.icon:hover {
    filter: brightness(1.2);
}

.redes-sociais h3 {
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    color: var(--branco);
    letter-spacing: .5rem;
}

.redes-sociais h3:hover {
    color: var(--amarelo-principal);
}

.destaque-amarelo {
    color: var(--amarelo-principal);
}

.endereco p {
    text-align: end;
    color: var(--branco);
    font-size: 2rem;
}

a {
    text-decoration: none;
}

.endereco p:hover {
    color: var(--amarelo-principal);
}